.body {
  color: white;
  background-color: cyan;
  border-color: cyan;
  border-style: outset;
  padding-bottom: 25px;
  text-align: center;
}

.description {
  color: cyan;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 250px;
}

.page {
  background-color: lightcyan;
}
