.container {
  display: grid;
  margin: auto;
  padding: 10px;
  place-items: center;
}

.image {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 250px;
}

.middle-box {
  color: white;
  background-color: cyan;
  border-color: cyan;
  border-style: outset;
  padding-bottom: 25px;
  text-align: center;
  width: 60%;
}

.page {
  background-color: lightcyan;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
