.container {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.link {
  background-color: white;
  border-color: white;
  border-style: outset;
  display: inline;
  padding: 5px;
}

.text {
  color: white;
}

body {
  background-color: #303030;
}
