.center {
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.link {
  background-color: white;
  border-color: white;
  border-style: outset;
  display: inline;
  padding: 5px;
}

.page {
  background-color: #303030;
}

.text {
  color: white;
  text-align: center;
}
