.container {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.text {
  color: white;
}

.text-box {
  background-color: white;
  border-color: white;
  border-style: outset;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.top-nav {
  background: white;
  border-color: white;
  border-style: outset;
  padding: 20px;
}

body {
  background-color: lightgreen;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
